#header {
	grid-area: header;
	background-image:var(--bg-h);
}

@media(max-width: 1024px) or (max-height: 705px) {
	#header {
		background-image: var(--bg-full);
	}
}

@media(max-width: 640px) or (max-height: 441px) {
	#header {
		background-image: var(--bg-l);
	}
}

@media(max-width: 320px) or (max-height: 220px) {
	#header {
		background-image: var(--bg-m);
	}
}
